.menu {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
}
.menu>.item {
  position: relative;
  display: block;
  flex: 1;
  width: auto;
  height: 100%;
  background-image: url("/img/home1.png");
  background-size: 40% auto;
  background-repeat: no-repeat;
  background-position: center top;
}